[submodule "submodules/launch-control"]
	path = submodules/launch-control
	url = git@github.com:revvy02/launch-control.git
[submodule "submodules/lute"]
	path = submodules/lute
	url = https://github.com/luau-lang/lute.git
[submodule "submodules/lune"]
	path = submodules/lune
	url = https://github.com/lune-org/lune.git
